.chat-main 
  .chat-main__main-header
    .chat-main__main-header__left-box
      %h1.chat-main__main-header__left-box__current-group
        = @group.name
      %ul.chat-main__main-header__left-box__group-list
        member :&nbsp
        %li.chat-main__main-header__left-box__group-list__member
          - @group.users.each do |user|
            = user.name
    .chat-main__main-header__edit
      = link_to edit_group_path(current_user), class: "chat-main__main-header__edit__edit-btn" do
        Edit


  .chat-main__messages
    = render @messages
  

  .chat-main__form
    %p.new_message
      = form_for [@group, @message] do |f|
        .chat-main__form__input
          = f.text_field :content, class: 'chat-main__form__input__text', placeholder: 'type a message'
          = f.label :image, class: 'chat-main__form__input__image' do
            =icon('fas', 'image')
            = f.file_field :image, class: 'chat-main__form__input__image-file'
        = f.submit 'Send', class: 'submit-btn'