.chat-side
  .chat-side__side-header
    .chat-side__side-header__box
      %p.chat-side__side-header__box__user-name
        = current_user.name
      %ul.chat-side__side-header__box__btn
        = link_to new_group_path, class: "chat-side__side-header__box__btn" do
          = icon('far', 'edit', class: "chat-side__side-header__box__btn--icon")
          %span<>
        = link_to edit_user_path(current_user), class: "chat-side__side-header__box__btn" do
          = icon('fa', 'cog',)
  .chat-side__groups
    - current_user.groups.each do |group|
      .chat-side__groups__group
        = link_to group_messages_path(group), class: "chat-side__groups__group__group-link" do
          .chat-side__groups__group__group-name
            = group.name
          .chat-side__groups__group__latest-message
            = group.show_last_message